<div class="remove-container container-block">

  
  <h2 class="container-block-title">
    Projects
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a href="https://github.com/open-source-uom/myuom" target=1>myUoM</a></li>
    <li><a href="https://github.com/iosifidis/mySystemHealth" target=1>mySystemHealth</a></li>
     <li><a href="https://github.com/Physio-plus-org" target=1>Physio+</a></li>
     <li><a href="https://github.com/Firetell" target=1>Firetell</a></li>
     <li><a href="https://github.com/iosifidis/asm" target=1>Animal Shelter Manager Live CD</a></li>
     <li><a href="https://github.com/iosifidis/pclosmedical" target=1>PCLinuxOS Medical Live CD</a></li>
  </ul>
  
  
</div><!--//About-->
