{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>
  
  <br><br>
  
    <h2 class="container-block-title">
    Soft Skills
  </h2>
  <ul class="list-unstyled interests-list">
    <li>Public Speaking</a></li>
    <li>Project Coordination</a></li>
     <li>Leadership</li>
     <li>Decision making</a></li>
     <li>Team Player</a></li>
     <li>Adaptability</a></li>
  </ul>
  

</div><!--//interests-->
{% endif %}
