{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    Memberships
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a href="https://foundation.gnome.org/membership/" target=1>GNOME Foundation member</a></li>
     <li><a href="https://en.opensuse.org/openSUSE:Members" target=1>openSUSE member</a></li>
     <li><a href="https://ubuntu.com/community/membership" target=1>Ubuntu member</a></li>
     <li><a href="https://fedoraproject.org/wiki/Ambassadors_Join_start" target=1>Fedora Ambassador</a></li>
  </ul>

<br><br>

  <h2 class="container-block-title">
    Languages
  </h2>

  <ul class="list-unstyled interests-list">
    {%for language in languages %}
    <li>
      {{ language.idiom }}
      <span class="lang-desc">({{ language.level }})</span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
